<div class="kontakt">
  <div class="dane grid-item">
    <address>
      E-mail<a href="mailto:carbonocr@gmail.com">carbonocr@gmail.com</a>.<br />
      Adres: Kamienna 6<br />
      Katowice, Śląskie <br />
      Telefon:<a href="tel:+6494461709">61709</a>
    </address>
  </div>
  <div class="mapa grid-item"></div>
</div>
