<app-kafelek
  nazwa="Carbon OCR"
  tlo="ocr.jpg"
  routerLink="/zawodnicy"
></app-kafelek>
<app-kafelek nazwa="Carbon Paws" tlo="paws.jpg"></app-kafelek>
<app-kafelek nazwa="Carbon Triathlon" tlo="triathlon.jpg"></app-kafelek>
