<div id="silesiasport">
  <div class="navigation-bar">
    <div class="logo grid-item"><img src="../../assets/img/carbon.png" /></div>
    <div class="menu grid-item">
      <ul class="grid-item">
        <li><a href="#">Kontakt</a></li>
        <li><a href="#">Treningi</a></li>
        <li><a href="#">Zawodnicy</a></li>
      </ul>
    </div>
  </div>

  <h1>Carbon Silesia Sport</h1>
</div>
