#silesiasport {
  background-size: cover;
  background-image: url(../../assets/img/tlo.jpg);
  height: 100vh;
}

.navigation-bar {
  display: grid;
  background-color: rgba(0, 0, 0, 0.8);
  grid-template-columns: auto auto;
  margin-left: 10em;
  margin-right: 10em;
}

.navigation-bar ul {
  padding: 0px;
  margin: 0px;
  text-align: center;
  float: right;
  top: 1em;
}

.navigation-bar li {
  display: inline;
  list-style-type: none;
  font-size: 1em;
  margin: 0.5em;
  padding: 0.5em;
}

.navigation-bar a {
  text-decoration: none;
  color: yellow;
}

h1 {
  color: yellow;
  font-size: 4em;
  background-color: rgba(0, 0, 0, 0.8);
  margin: 2em;
  padding: 1em;
}
